body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#favorites-list {
    max-width: 800px; /* Ограничиваем ширину списка */
    margin: 20px auto; /* Центрируем список */
}

#favorites-list ul {
    list-style: none;
    padding: 0;
}

#favorites-list li {
    display: flex; /* Располагаем элементы в строку */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.remove-from-favorites {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}